* @software-mansion/cairo-ls

/src/project @integraledelebesgue @thenry14
/tests/e2e/analysis.rs @integraledelebesgue @thenry14

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @thenry14

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @thenry14

/src/ide/macros/navigation/goto_definition.rs @thenry14 @wawel37
/tests/e2e/goto_definition @thenry14 @wawel37

/src/ide/macros/navigation/highlight.rs @thenry14 @integraledelebesgue
/tests/e2e/document_highlight @thenry14 @integraledelebesgue

/src/ide/macros/navigation/references.rs @thenry14 @integraledelebesgue
/tests/e2e/find_references @thenry14 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @thenry14 @arcticae
/tests/e2e/rename @thenry14 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @thenry14 @arcticae
/src/lang/proc_macros @thenry14 @Draggu
/src/lang/usages @thenry14 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @thenry14 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37
