fn fib<caret>(mut n: u32) -> u32 {
  <caret>  pr<caret>intln!<caret>("some text")<caret>;<caret>
    let mut a: u32 = 0;
    let mut b: u32 = 1;
    while n != 0<caret> {
        n = n - 1;
        let temp = b;
        b = a + b;
        a = t<caret>emp;
    };
    a
}
