name: Check new scarb nightly
on:
  repository_dispatch:
    types: [ new-scarb-nightly-published ]
  workflow_dispatch:

jobs:
  build-test:
    name: build tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: ${{ github.event.client_payload.tag_name }}
          cache: false
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.98
      - name: nextest archive
        run: cargo nextest archive --workspace --all-features --cargo-profile ci --archive-file 'nextest-archive.tar.zst'
      - uses: actions/upload-artifact@v5
        with:
          name: nextest-archive
          path: nextest-archive.tar.zst

  test:
    name: test ${{ matrix.partition }}/6
    runs-on: ubuntu-latest
    needs:
      - build-test
    strategy:
      fail-fast: false
      matrix:
        partition: [ 1, 2, 3, 4, 5, 6 ]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: ${{ github.event.client_payload.tag_name }}
          cache: false
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.98
      - uses: actions/download-artifact@v6
        with:
          name: nextest-archive
      - name: nextest partition ${{ matrix.partition }}/6
        run: cargo nextest run --profile ci --partition 'count:${{ matrix.partition }}/6' --archive-file 'nextest-archive.tar.zst'

  notify_failed:
    runs-on: ubuntu-latest
    if: always() && needs.test.result == 'failure' && github.event_name == 'repository_dispatch'
    needs: test
    steps:
      - name: Notify the team about workflow failure
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_SCARB_NIGHTLY_CHECK_FAILURE_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
